.ArtistGalery {
    height: auto;
    background: #100B09;
    color: white;
    border-top: solid black 2px;
    border-bottom: solid white 2px;
}

.m-container {
  /* border: red solid 2px; */
  display: flex;
}

.user-bio {
  border-right: blanchedalmond solid 2px;
  width: 25%;
  height: auto;
}

#h-portfolio {  
    /* margin: 1rem 0; */
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 0.2rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    width: 75%;
   
    margin-right:auto;
    margin-left: auto;
    /* overflow: scroll; */
    

  }

.tilee { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}


.scale-anm {
  transform: scale(1);
}



.tilee img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
  
}


::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.user-bio .rond {
  background-color: gray;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.user-info {
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  ALIGN-ITEMS: center;
  text-align: justify;
  font-family: 'Imbue';
  font-size: 25px;
  padding: 2em;
}

.user-info h2 {
  font-family: 'New World Regular';
}

.user-info p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24%;
}

@media screen and (max-width:1100px){

.m-container {
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  height: auto;
}
.user-bio {
  border-bottom: blanchedalmond solid 2px;
  border-right: blanchedalmond  0px;
  width: 100%;
}
.user-bio .rond {
  margin-bottom: 0em;
}
.user-info {
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  ALIGN-ITEMS: center;
  text-align: center;
  font-family: 'Imbue';
  font-size: 25px;
  padding: 2em;
}

.user-info h2 {
  font-family: 'New World Regular';
}

.user-info p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}
#h-portfolio {  
  width: 100%;
}
}

@media screen and (max-width:800px){
#h-portfolio {  
  -webkit-column-count: 2; 
  -moz-column-count: 2;
  column-count: 2;
  width: 100%;

}
}

@media screen and (max-width:570px){
  #h-portfolio {  
    -webkit-column-count: 1; 
    -moz-column-count: 1;
    column-count: 1;

  }
}