.Header {
    font-size: 20px;
    font-family: Imbue;

}

.titleheader {
    height: 3em;
    margin-left: 420px;
    margin-right: 350px;
    margin-top: 6PX;
}

.navbar {
    background: #100B09;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.mr-auto {
    display: flex;
}
.linkheader {
color: sienna;
text-decoration: none;
list-style: none;
justify-content: flex-end;
font-size: 25px;
margin-top: 9px;
}

.nav {
    margin-right: auto;
    margin-left: auto;
}

.Header a {
    color: silver;
    list-style: none;
    text-decoration: none;


}

/* .Header a:hover:before {
    visibility: hidden;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
} */
