.Header {
    font-size: 20px;
    font-family: Imbue;

}

.titleheader {
    height: 6em;
    margin-left: 280px;
    margin-right: 200px;
}

.navbar {
    background: #100B09;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.mr-auto {
    display: flex;
}
.linkheader {
color: sienna;
text-decoration: none;
list-style: none;
justify-content: flex-end;
font-size: 25px;
}

.nav {
    margin-right: auto;
    margin-left: auto;
}

a {
    color: silver;
}

