@import url('http://fonts.cdnfonts.com/css/voga');
@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/5647e03bdb9d622f23ff2bf2cd52c8ff?family=RoslindaleText);

@font-face {
    font-family: 'Neue World Regular';
    src: url('../fonts/neueworld-condensedregular-webfont.woff') format('woff'),
            url('../fonts/neueworld-condensedregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}



html {
    scroll-behavior: smooth;
}

/* .bg {
    width: 100%;
} */

#Home .section1 {
    width: 100%;
    height: 100vh;
    background-image: url('../imagesHome/bghome2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: solid 1px black;
    position: relative;
    text-align: center;
}

#Home .section1 h1 {
    font-family: 'voga';
    /* font-family: 'neue_worldcondensed_regular'; */
    font-size: 22.2vw;
    color: white;
    font-weight: 200;
    /* border: #8e7c49 solid; */
    margin: 50PX auto 0px;
    
}


#Home .section1 p {
color: white;
justify-content: space-between;
align-items: center;
flex-direction: row;
}

#Home .scroll-down {
    height: 80px;
    width: 80px;
    text-align: center;
    background: white;
    border-radius: 50%;
    /* border: rgb(255, 0, 179) solid; */
    margin-left: 12%;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home .arrowdown {
    height: 25px;
}
#Home .copyright {
    /* border: yellow solid; */
    position: relative;
    width: 25%;
    font-size: 19px;
    margin-left: 22%;
    padding-left: 7%;
    padding-top: 5%;
    font-family: 'voga', sans-serif;

}
.maybe {
    /* border: steelblue solid; */
    width: 35%;
    padding: 1%;
    font-size: 16px;
    margin-top: 2%;

}
.cicon {
    height: 15px;
}

#Home .textgroup {
    display: flex;
    /* border: yellowgreen solid 1px; */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

#Home .section2 {
    height: 100vh;
    display: flex;
    align-items: center
}

#Home .textpurpose {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* font-family: 'Imbue'; */
    /* border: blue solid 2px; */
    height: 70vh;
    color: #1d1d1d;
    line-height: 1.3;
    margin-top: -10%;

}

#Home .textpurpose .weexistfor {
    font-weight: 600;
    font-family: 'voga', sans-serif;
    /* font-family: 'RoslindaleText'; */
    font-size: 40px;
    /* font-size: 3.3vw; */

    /* border: yellowgreen solid 1px; */
    width: 50%;
    padding: 9%;


}

.ligne {
    border-bottom: black solid 2px;
    /* margin: -0.512em auto; */
  width: 50%;
  margin-bottom: 7%;
}

#Home .textpurpose .describeteam {
    /* border: red solid; */
    width: 50%;
    padding: 6%;
    color: #1d1d1d;
    font-size: 1.4vw;
    line-height: 2vw;
    font-family: 'Roboto', sans-serif;

}

#Home .describeteam .view {
    color: black;
    width: 38%;
    /* border: brown solid; */
    font-weight: 800;
}

svg {
    overflow: hidden;
    vertical-align: middle;
    width: 25px;
    margin-top: 5%;
}

/* section 3 */

#Home .section3 {
    /* border: solid black 2px; */
    height: 100vh;
    background-color: #100B09;

}

#Home .goldenbrush {
    /* border: red solid; */
    height: 20vh;
    position: RELATIVE;
    top: -7%;
}

#Home .goldimg {
    height: 600px;
    width: 600px;
    margin-top: -21%;
}


#Home .onus {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 11%;
    /* border: white solid 2px; */
    font-family: 'voga';
    font-size: 70px;
    position: relative;
    color: #fff;
    line-height: 0.5;
}

#Home .onus span {
    font-style: italic;
}

#Home .onus-text {
    color: cornsilk;
border-top: blanchedalmond solid 1px;
padding: 7%;
columns: 3;
font-family: 'Imbue';
font-size: 25px;

}

#Home a {
    text-decoration: none;
    color: cornsilk;
}

/* section 4 */

#Home .section4 {
    height: 160vh;
    background-color: #100B09;
    padding-top: 5%;
}

#Home .section4 .onuss {
    /* text-align: left; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 11%;
    /* border: white solid 2px; */
    font-family: 'voga';
    font-size: 70px;
    position: relative;
    color: #fff;
    line-height: 0.5;
}

#Home .onuss span {
    font-style: italic;
}

#Home .fever-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: white solid 1px;
}

#Home .blog-card {
    max-width: 30%;
    width:100%;
    height: 95VH;
    position: relative;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 10%;
    right: 0;  
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background: url('../imagesHome/new-one-1.gif') center no-repeat;
    background-size: 160% 95VH;
    margin-top: 6%;
  }
  #Home  .blog-card a{ 
  color:#fff;
    text-decoration:none;
    transition:all 0.2s
  }
  #Home .blog-card .color-overlay {
    background: rgb(23 16 13 / 62%); 
    width: 550px;
    height: 95VH;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  #Home  .blog-card .gradient-overlay {  
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 550px;
    height: 95VH;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
  }
  #Home  .blog-card:hover{
      box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  }
  #Home  .blog-card:hover .card-info {
    opacity: 1;
    bottom: 100px;
  }
  #Home  .blog-card:hover .color-overlay {
    background: rgba(64, 64, 70,0.8);
  }
  #Home  .blog-card:hover .title-content{
    margin-top:70px
  }
  #Home  .title-content {
    text-align: center;
    margin: 170px 0 0 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    transition:all 0.6s
  }
  
  #Home  .blog-card:hover h3:after{
   
    animation: changeLetter 0.3s 1 linear;
    width:80%
  }
  
  #Home  .blog-card h3,h1 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display:inline-block;
  }
  #Home .blog-card h3 a{  
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    transition:all 0.2s
  }
  #Home  .blog-card h3 a:hover{
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
  }
  #Home  h3:after {
    content: " ";
    display: block; 
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
  }
  
  @keyframes changeLetter {
    0% {
      width: 10%;
    }
    100% {
      width: 80%;
    }
  }
  
  .intro {
    width: 170px;
    margin: 0 auto;
    color: #ddd;
    font-style: italic;
    line-height: 18px;
  }
  .intro a{
    color: #ddd
  }
  .intro a:hover{
    text-decoration:underline
  }
  #Home  .card-info {
     box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  
  #Home  .card-info a{
    display:block;
    width:100px;
    margin:15px auto;
    background:#fff;
    color:#444;
    padding:3px 10px;
    border-radius:2px;
    font-size:0.8em
  }
  #Home  .card-info a:hover{
    background: #8e7c49;
    color:#fff;
  }
  #Home  .card-info a:hover span{
     filter: brightness(10);
     opacity:1
  }


/* section 5 */
 #Home .section5 {
     height: 90vh;
     background-color: #100B09;
 }

  
 #Home .section5 .onuss {
    /* text-align: left; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-left: 11%; */
    border-bottom: white solid 2px;
    font-family: 'voga';
    font-size: 70px;
    position: relative;
    color: #fff;
    line-height: 0.5;
    margin-left: auto;
    margin-right: auto;
}

#Home .section5 .talkus {
    /* border: springgreen solid; */
    font-family: 'Imbue';
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Home .section5 .talkus p {
    /* border: red solid; */
    font-family: 'Imbue';
    font-size: 25px;
    /* max-width: 30%; */
    width: 60%;
    margin-right: 5%;
    color: white;
    height: 60VH;

}

#Home .section5 .talkus span{
    /* border: springgreen solid; */
    font-family: 'Imbue';
    font-size: 35px;
    text-align: center;
}

#Home .section5 .talkus .gold {
    /* max-width: 30%; */
    height: 600px;
    width: 600px;
    /* border: wheat solid; */
    MARGIN-TOP: -40%
    /* position: absolute; */
}

.goldenfoil {
    height: 20vh;
    position: RELATIVE;
    /* border: blue solid; */
}
  
@media screen and (max-width:1050px) {

  #Home .section1 {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
height: auto;
  }

  #Home .section1 .textgroup {
display: flex;
flex-direction: column;
align-items: center;
  }
  .maybe {
    width: 75%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;

}
 

#Home .scroll-down {
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

#Home .copyright {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;


}

/*section 2*/

#Home .section2 {
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: 15vh;
}

#Home .textpurpose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  line-height: 1.3;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;

}

#Home .textpurpose .weexistfor {
  width: 95%;
  padding: 2%;
  text-align: center;
  /* font-size: 30px; */


}

#Home .textpurpose .describeteam {
  width: 80%;
  padding: 3%;
  /* font-size: 2.4vw; */
  /* line-height: 2.3vw; */
text-align: center;
}

.ligne {
  width: 100%;
  margin-bottom: 7%;
  margin-left: auto;
  margin-right: auto;
  }

  #Home .describeteam .view {
    color: black;
    width: 22%;
    /* border: brown solid; */
    font-weight: 800;
    margin-left: auto;
  margin-right: auto;
}
#Home .section3 {
  /* border: solid black 2px; */
  height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#Home .section3 .goldenbrush {
  height: auto;
  position: RELATIVE;
}

#Home .goldimg {
  height: 50%;
  width: 50%;
  margin-top: -20%;
}
#Home .onus {
  display: flex;
  align-items: center;
  padding: 0px 3%;
  /* border: white solid 2px; */
}
#Home .onus p {
  text-align: center;
}
#Home .onus span {
  text-align: center;
}
#Home .onus-text {
padding: 10% 7%;
columns: 2;
font-size: 20px;


}

/*section 4*/
#Home .section4 {
  height: auto;
  padding: 10% 4%;
}

#Home .blog-card {
  max-width: 35%;
  width:100%;
  height: 95VH;
  position: relative;
  font-family: 'Droid Serif', serif;
  color:#fff;
  top: 10%;
  right: 0;  
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition:all 0.4s;
  background: url('../imagesHome/new-one-1.gif') center no-repeat;
  background-size: 160% 95VH;
  margin-top: 6%;
}

#Home .section5 {
  height: 114vh;
  padding-bottom: 10%;
}
#Home .section5 .talkus {
  /* border: springgreen solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
}
#Home .section5 .talkus p {
  /* border: red solid; */
  font-family: 'Imbue';
  font-size: 25px;
  text-align: center;
  margin-top: -19%;
  /* max-width: 30%; */
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: white;
  height: 60VH;
 

}
}

@media screen and (max-width:700px){
  #Home .section3 .goldenbrush {
    /* border: red solid; */
    height: auto;
    position: RELATIVE;
    /* top: -37%; */
  }
  
  #Home .goldimg {
    height: 100%;
    width: 100%;
    margin-top: -40%;
  }
  #Home .blog-card {
    max-width: 95%;
    width:100%;
    height: 95VH;
    position: relative;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 10%;
    right: 0;  
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background: url('../imagesHome/new-one-1.gif') center no-repeat;
    background-size: 160% 95VH;
    margin-top: 6%;
  }
  #Home .fever-container {
    display: flex;
    flex-direction: column;
   
  }
}

  
  @media (max-width:500px){
    .utility-info li:last-of-type{
      width:100%
    }
    #Home   .card-info{
      display:none
    }
    #Home   .blog-card:hover .title-content,.title-content{
    margin-top:40px
  }
  #Home .blog-card{
    height:500px
  }
  #Home .blog-card h3{
    font-size:1.3em
  }
  .intro{
    font-size:0.8em
  }
  
  }
 
  


