.ListOfArtworks {
    height: 250vh;
    background: #100B09;
    border-top: solid 2px black;

    /* font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility; */
    /* max-width: 900px; */
    float: none;
    margin: auto; 
}

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 4; 
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    max-width: 990px;
    border: blue solid 2px;
    margin-right:auto;
    margin-left: auto;
    padding-top: 5rem;

  }
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
/* .tile:hover { 

} */

.scale-anm {
  transform: scale(1);
}



.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}


::-moz-focus-inner {
  border: 0;
  padding: 0;
}
