@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&display=swap');


.OurArtists {
    min-height: 200vh;
    background: #100B09;
    font-family: 'Encode Sans Condensed';
    color: white;
    border-top: solid black 2px


}

.line {
    border-bottom: solid 2px #ffffff;
    width: 20vw;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 12px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 6rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 190px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    /* -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); */
  }
  
  @media (min-width: 900px) {
  
  .news-card {
      height: 5rem
  }
    }
  
  .news-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
        z-index: 0;
      }
  
  .news-card__card-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
  /*     background: rgba(255,0,0,.5); */
    }
  
  .news-card__image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: transform 3s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: relative;
      z-index: 0;
    }
  
  .news-card__text-wrapper {
      position: absolute;
      bottom: 0rem;
      padding: 1rem;
      color: rgb(0, 0, 0);
  /*     background-color: rgba(0, 0, 0, 0.4); */
      transition: background-color 1.5s ease;
    }
  
  .news-card__title {
      font-size: 20px;
      font-weight: 900;
      transition: color 1s ease;
      margin-bottom: .1rem;
      text-align: center;
    }
  

  
  .news-card__details-wrapper {
      max-height: 0;
      opacity: 0;
      transition: max-height 1.5s ease, opacity 1s ease;
    }
  
  @media (min-width: 900px) {
      .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
      }
      .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .news-card:hover .news-card__title {
        color: rgb(224, 150, 52);
      }
      .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
      }
    }
  
  /* .news-card__excerpt {
      font-weight: 300;
    } */
  
  .news-card__read-more {
      background: black;
      text-align: center;
      color: #bbb;
      display: block;
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      margin-top: 1rem;
      border: 1px solid #444;
      font-size: 0.8rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-decoration: none;
      width: 14rem;
      margin-left: auto;
      position: relative;
      z-index: 5;
    }
  
  .news-card__read-more i {
        position: relative;
        left: 0.2rem;
        color: #888;
        transition: left 0.5s ease, color 0.6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
  
  .news-card__read-more:hover i {
        left: 0.5rem;
        color: rgb(180, 116, 43);
      }
  
/* artist container*/

/* :root {
    --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
    --fir-font-header: "foco", Helvetica;
    --fir-blue-twitter-alpha: rgba(85,172,238, 0.6);
    --fir-color-grey: rgba(0,0,0, 0.40);
  } */

  .artistContainer {
      border: solid 2px red;
      margin-top: 100px;
      columns: 3;
      padding: 35px;
  }

  .fir-clickcircle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .fir-image-figure {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    text-decoration: none;
  }
  
  .fir-image-figure .caption, .fir-image-figure figcaption {
    padding-left: 15px;
  }
  
  html.wf-active .fir-image-figure .fig-author-figure-title {
    font-family: var(--fir-font-header);
    font-size: 16px;
  }
  
  .fir-image-figure .fig-author-figure-title {
    color: var(--fir-color-grey);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
  }
  
