#AllComments {
    min-height: 100vh;
    background-color: #100B09;
    color: white;
    border-top: black 1px solid;
}

#AllComments .comment-section .good{
    color: antiquewhite;
}

#AllComments .succ {
    color: antiquewhite;
    text-align: center;
}

.com-description {
    color: white
}