/* body {
  background-color: #FEF5DF;
} */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  .CateList {
    background-color: #151514;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .CateListPage {
    background-color: #151514;
min-height: 100vh;
padding-bottom: 2%;
  }  

  .CateListPage .container {
    width: 300px;
    height: 400px;
    position: relative;
    /* top:20px; right: 0; left: 0; bottom: 0; */
    margin: auto;
    margin-top: 7%;
    box-sizing: border-box;    
    -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
    }
  
  
    .CateList .container p {
      font-family: 'Lato',sans-serif;
    }
  
  .cards-container {
    background-color: #151514;
margin-left: auto;
margin-right: auto;
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid red; */
  }
  

 .container {
    background-color: #151514;
  width: auto;
  }
  
  .overlay {
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    
    background: rgba(114, 106, 106, 0.9);
    /* color: #FEF5DF; */
    opacity: 0;
    transition: all 0.5s;
    
    font-family: 'Lato',sans-serif;
  }
  
  .items {
    padding-left: 20px;
    letter-spacing: 3px;
  }
  
  .head {
    font-size: 30px;
    line-height: 40px;
    
    transform: translateY(40px);
    transition: all 0.7s;
  }
    
  .head hr {
      display: block;
      width: 0;
      
      border: none;
      border-bottom: solid 2px #FEF5DF;
      
      position: absolute;
      bottom: 0; left:20px;
      
      transition: all .5s;
    }
  
  
  .price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;  
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
  
  }
  
  .cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
  }
   
  .cart span {
      margin-left: 10px;
      text-decoration: none;
      color: black;
    }
  
  
  .container:hover .overlay {
    opacity: 1;
  }
  .container:hover .head {
      transform: translateY(0px);
    }
    
  .container:hover hr {
      width: 75px;
      transition-delay: 0.4s;
    }
    
  .container:hover .price {
      transform: translateY(0px);
      transition-delay: 0.3s;
      opacity: 1;
    }
    
  .container:hover .cart {
      transform: translateY(0px);
      transition-delay: 0.6s;
      opacity: 1;
    }
  
/* modalll */

#details-modalll {
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: -100%;
  /* right: -50%; */
  margin-left: auto;
  margin-right: auto;
  /* max-width: 90%; */
  pointer-events: none;
  position: absolute;
  top: 46%;
  /* bottom: 0%; */
  transform: translate(-50%, -50%);
  width: 50em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 4;
}
#details-modalll .details-modalll-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
}
#details-modalll .details-modalll-close svg {
  display: block;
}
#details-modalll .details-modalll-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}
#details-modalll .details-modalll-title h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
#details-modalll .details-modalll-content {
  border-top: 1px solid #e0e0e0;
  padding: 2em;
  pointer-events: all;
  overflow: auto;
}
.details-modalll-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(50, 62, 92, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
details[open] .details-modalll-overlay {
  pointer-events: all;
  opacity: 0.5;
  z-index: 3;
}
details summary:focus {
  outline: none;
}
details summary::-webkit-details-marker {
  display: none;
}
code {
  font-family: Monaco, monospace;
  line-height: 100%;
  background-color: #2d2d2c;
  padding: 0.1em 0.4em;
  letter-spacing: -0.05em;
  word-break: normal;
  border-radius: 7px;
  color: white;
  font-weight: normal;
  font-size: 1.75rem;
  position: relative;
  top: -2px;
}

.pocontent {
  border: black solid 2px;
  text-align: center;
  background-color: beige;
}

.pocontent:hover {
  background-color: #7b8f83;

}